* {
    padding: 0;
    margin: 0;
  }
  
  /* admin dashboard styles */
  .container-fluid {
    height: auto;
    width: 100%;
    background-color: white;
  }
  .header {
    background-color: dimgrey;
    height: 80px;
    width: 100%;
  }
  .sidebar-content {
    /* width: 20%; */
    color: white;
    /* border:70% */
  }
  #list li {
    margin-left: 5%;
    width: 180px;
    border-color: red;
  }
  #list li:hover {
    background: blue;
    color: pink;
  }
  .footer {
    height: 150px;
    background: darkslategrey;
  }
  h1 {
    color: white;
    margin-left: 20%;
    text-shadow: 10%;
    text-shadow: chartreuse;
  }
  