/* login page styles */
.login-form {
  width: 50%;
  top: 50%;
  left: 50%;
  border: 1px solid black;
  border-radius: 20px;
  transform: translate(-50%, -50%);
  position: absolute;
}

.btn-login {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

.btn-login:hover {
  color: white;
}

.login-title {
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 5px;
  font-weight: 900;
  padding: 20px;
}
