#list li {
  margin-left: 5%;
  width: 180px;
  border-color: red;
}
#list li:hover {
  background: blue;
  color: pink;
}
.footer {
  height: 100px;
  background: darkslategrey;
}
h1 {
  color: white;
  margin-left: 20%;
  text-shadow: 10%;
  text-shadow: chartreuse;
}

/* revenue page styles */

.signup-form {
  width: 70%;
  height: 70%;
  background-color: #2dd9;
  margin-left: 16%;
  margin-top: 5%;
}
.form-group {
  width: 50%;
  margin-left: 25%;
}
.btn btn-success btn-lg btn-block {
  color: #000;
}

.budget_tile {
  padding: 50px;
  text-align: center;
}

.tile {
  padding: 10px;
  text-transform: uppercase;
  letter-spacing: 10px;
  font-weight: 700;
  font-size: large;
  border-radius: 20px;
}

.tile_expence {
  background-color: rgb(240, 128, 128);
}

.tile_balance {
  background-color: rgb(50, 241, 108);
}

.tile_revenue {
  background-color: rgb(186, 240, 60);
}

.dashboard_area-title {
  text-align: center;
  letter-spacing: 10px;
  text-transform: uppercase;
}
